body{
    font-family: 'Poppins', sans-serif;
}
.py-5 h4,
p{
    font-family: 'Playfair Display', serif;
}
.card-body{
    font-family: 'Merriweather', serif;
}
.col-12 h4
{
    font-family: 'Poppins', sans-serif;
}
.custom-text-color{
    color: lightslategrey;
}
.card-title{
    text-transform: uppercase;
    font-weight: bold;
}
body {
    margin: 0;
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: #000;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: black; /* Change to your desired color */
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-link.active::after,
.nav-link:hover::after {
    width: 100%;
    left: 0;
}

.banner{
    background-image: url(./imgs/final.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 212px ;
}
.card {
    height: 100%;
    border: 1px solid #f4f3f3;
    border-radius: 10px; 
    overflow: hidden; 
  }
  
  
