body{
    font-family: 'Poppins', sans-serif;
}
.py-5 h4,
p{
    font-family: 'Playfair Display', serif;
}
.card-body{
    font-family: 'Merriweather', serif;
}
.col-12 h4
{
    font-family: 'Poppins', sans-serif;
}
.custom-text-color{
    color: lightslategrey;
}
.card-title{
    text-transform: uppercase;
    font-weight: bold;
}
.banner{
    background-image: url(./imgs/final.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 212px ;
}
.card {
    height: 100%;
    border: 1px solid #f4f3f3;
    border-radius: 10px; 
    overflow: hidden; 
  }
  
  
